* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 2.5% auto;
    display: flex;
    flex-direction: row;
    background-color: #c9c9c9;
}

.left-container{
    width: 50%;
    height: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
}

.canvas {
    display: grid;
    height: 560px;
    width: 560px;
    justify-content: center;
}

#input-canvas {
    margin: auto;
    grid-template-columns: repeat(84, 1fr);
    grid-template-rows: repeat(84, 1fr);
}

#output-canvas {
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(28, 1fr);
    background-color: black;
}


.button {
    height: 50px;
    width: 100px;
    margin: 10px;
}